/* 전체 컨테이너 스타일링 */
#Board {
  padding: 0 108px;
}

.comu_hr {
  margin-bottom: 30px;
}

#Board .container {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}


#Board #community_header {
  padding: 0 180px;
  font-weight: 700;
  font-size: 40px;
}

#Board #community_header span{
  text-align: center;
}

/* 커뮤니티 버튼 스타일링 */
#Board .container #community-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  
}

#Board .custom-lg-button {
  width: 230px;
  height: 100px;
  margin-right: 20px;
  margin-bottom: 50px;
  border-radius: 30px;
  border: 3px solid #64aee0;
  background-color: white;
  font-size: 25px;
  font-weight: 700;
  color: #0d005f;
  display: inline-block;
  
}

#Board .custom-lg-button.active {
  background-color: #64aee0;
  border: 3px solid #64aee0;
  color: white;
}

#Board .custom-lg-button:hover {
  background-color: #64aee0;
  border: 3px solid #64aee0;
  color: white;
}

#Board .icon_btn {
  margin-right: 10px;
}

/* 커스텀 라인 스타일링 */
#Board .custom-line {
  border: 2px solid #0056b3;
  padding: 0 110px;
}

/* 리스트 스타일링 */
.Board-bottom .your-component {
  margin-bottom: 50px;
}

.Board-bottom .list_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.Board-bottom .text-container h3 {
  font-size: 20px;
  margin: 0;
  color: black;
}
.Board-bottom .text-container h3:hover {
text-decoration: underline;
}
.Board-bottom .boardDate {
  color: #757df6;
  text-decoration: none;
  font-weight: bold;
  margin-left: 700px; /* 버튼과의 간격 조절 */
}

.Board-bottom .custom-detail-link:hover {
  text-decoration: underline;
  color: #0d005f;
}

.Board-bottom .button-container {
  
  margin-bottom: 30px;
}

.Board-bottom .button-container button{
  background-color: #64aee0;
}

.pagination-container {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.pagination-container .pagination {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
}

.pagination-container .page-item {
  display: inline-block;
  margin: 0 5px;
}

.pagination-container .page-link {
  text-decoration: none;
  padding: 5px 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
  cursor: pointer;
}

.pagination-container .page-link.active {
  background-color: #007bff;
  color: #fff;
}

.pagination-container li.page-item button {
  border: none;
}

.pagination-container .pagination li{
  border: none;
}



