/* 전체 컨테이너 스타일링 */
#Board {
  padding: 0 108px;
  
}

.container {
  margin-bottom: 20px;
}

.comu_hr {
  margin-bottom: 30px;
}

#community_header {
  padding: 0 180px;
  font-weight: 700;
  font-size: 40px;
}

/* 커뮤니티 버튼 스타일링 */
.container #community-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  
}

.custom-lg-button {
  width: 230px;
  height: 100px;
  margin-right: 20px;
  margin-bottom: 50px;
  border-radius: 30px;
  border: 3px solid #757df6;
  background-color: white;
  font-size: 25px;
  font-weight: 700;
  color: #0d005f;
  display: inline-block;
  
}

.custom-lg-button.active {
  background-color: #757df6;
  border: 3px solid #757df6;
  color: white;
}

.custom-lg-button:hover {
  background-color: #757df6;
  border: 3px solid #757df6;
  color: white;
}

.icon_btn {
  margin-right: 10px;
}

/* 커스텀 라인 스타일링 */
.custom-line {
  border: 2px solid #071197;
}
.custom_line {
  padding: 0 110px;
}

/* 리스트 스타일링 */
.your-component {
  margin-bottom: 50px;
}

.list_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.text-container h3 {
  font-size: 20px;
  margin: 0;
  color: black;
}
.text-container h3:hover {
text-decoration: underline;
}
.boardDate {
  color: #757df6;
  text-decoration: none;
  font-weight: bold;
  margin-left: 750px; /* 버튼과의 간격 조절 */
}

.custom-detail-link:hover {
  text-decoration: underline;
  color: #0d005f;
}

.button-container {
  
  margin-bottom: 30px;
}
/* 페이지네이션 스타일링 */
/* #pagination {
  float: right;
  margin-top: 20px;
  text-align: center;
}

.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: center;
}

.pagination li {
  margin-right: 10px;
}

.pagination a {
  text-decoration: none;
  color: #757df6;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

.pagination a.active {
  color: white;
  background-color: #757df6;
  border-radius: 5px;
  padding: 5px 10px;
}

/* 게시글 제목과 간격 조절 */
/* .list_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px; 
} */
/*
.text-container h3 {
  font-size: 20px;
  margin: 0;
} */





/* Quick 및 Footer 스타일링은 기존 스타일에 따라 추가하시면 됩니다. */
