.container {
    padding: 0 108px;
}

.custom-lg-button {
    width: 280px;
    height: 100px;
    margin-right: 20px; /* 원하는 간격 값으로 조절 */
    border-radius: 30px;
    border: 3px solid #757df6;
    background-color: white;
    font-size: 25px;
    font-weight: 700;
}

.custom-lg-button:hover {
    background-color: #757df6; /* 원하는 색상으로 변경 */
    color: #fff; /* 버튼 텍스트 색상 변경 */
    cursor: pointer; /* 커서 모양 변경 (선택 사항) */
  }

  .icon_btn {
    padding-right: 10px;
  }


  .custom-line {
    border: 3px solid #969696;
    margin: 30px 0;
  }

  .mb-2 {
    text-align: center;
  }

  #re_contents {
    padding: 0 108px;
  }
  

  .your-component {
    list-style: none;
    padding: 0;
  }
  
  .your-component li {
    display: flex;
    align-items: center;
  }
  
  .left-image {
    width: 100px;
    height: 100px;
    margin-right: 10px;
  }
  
  .detail-link {
    text-decoration: none;
    margin-left: auto;
    border: 1px solid #000;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    text-align: center;
    line-height: 2.5;
    color: #000;
  }
  #plus{
    background-color: #f8f8f8;
    display: block;
    text-align: center;
    color: #000;
    height: 55px;
    line-height: 3;
    text-decoration: none;
    margin-bottom: 15px;
  }

  .list_container {
    padding: 0 40px;
  }

  #pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 10px; /* 페이지 번호 사이 간격 설정 */
  }
  
  .pagination li {
    cursor: pointer;
    padding: 8px 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .pagination li.active {
    background-color: #007bff;
    color: #fff;
    border: 1px solid #007bff;
  }

 