.detail-centered-container {
    padding: 0px 108px;
}

.detail-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 50px;
    margin: 60px 0px;
}

.detail-intro {
    width: 100%;
    display: flex;
    text-align: left;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 20px;
}


.detail-content h3 {
    text-align: left;
}

.detail-box {
  border: 1px solid #ccc;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 50px;
  margin-bottom: 100px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: fit-content; /* 내용에 맞게 크기 조절 */
  max-width: 100%; /* 최대 너비 설정 */
  margin: auto;
}

.detail-title {
  background-color: #64aee0;
  width: 100%;
  height: 200px;
  border-radius: 20px;
  display: flex;
  justify-content: center; /* 변경된 부분 */
  align-items: center;
  flex-direction: column;
  margin: 50px 0px; /* 변경된 부분 */
}

.detail-header {
  position: relative;
  text-align: center; /* 변경된 부분 */
  width: fit-content;
  font-size: 40px;
  color: #ffffff;
}

.detail-centered-container h3 {
    font-size: 30px;
}

.test-dates-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 100px;
    margin-bottom: 10px;
}

.test-dates-select {
    width: 700px;
    padding: 10px;
    margin-bottom: 10px;
}

.test-dates-box {
  border: 1px solid #ccc;
  background-color: #ffffff;
  width: 700px;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.test-access.open,
.test-dates-container.open,
.test-info.open,
.future.open,
.test-job.open {
  max-height: 1500px; /* 토글 시 높이 변경 */
}

.test-access h3,
.test-dates-container h3,
.test-info h3,
.future h3,
.test-job h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #9bbfd8;
  border-radius: 20px;
  width: 100%;
  padding: 30px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  text-align: left;
}

.test-access h3::after,
.test-dates-container h3::after,
.test-info h3::after,
.future h3::after,
.test-job h3::after {
  content: "\25BC"; /* 화살표 머리 이모티콘 */
  margin-left: 5px;
}

.test-access.open h3::after,
.test-dates-container.open h3::after,
.test-info.open h3::after,
.future.open h3::after,
.test-job.open h3::after {
  content: "\25B2"; /* toggle이 열려있을 때 위쪽 화살표 머리 이모티콘 */
}

.test-dates-box h4 {
  text-align: center;
  margin-bottom: 30px;
}

.test-dates-box table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.test-dates-box th, .test-dates-box td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.test-dates-box th {
  background-color: #f2f2f2;
}

.test-dates-box td {
  background-color: #ffffff;
}

.test-dates-box tr:nth-child(5) td, 
.test-dates-box tr:last-child td {
  background-color: #d4e6f2;
}

.test-dates-box td{
  border: 1px solid #000000;
}

.test-info {
    width: 100%;
    max-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.test-accessn,
.job-content,
.future-content,
.test-trend {
    border: 1px solid #ccc;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    max-width: 1000px;
    width: 100%;
    margin: 20px 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.test-accessn li {
  margin-top: 10px; /* 원하는 값으로 조정 */
  margin-bottom: 10px; /* 원하는 값으로 조정 */
}

.chart {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 20;
    align-items: center;
}

.chart-container {
    margin-top: 100px;
}

.chart-box {
    border: 1px solid #ccc;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin-bottom: 30px;
}

.chart-toggle-buttons{
  text-align: center;
}

.chart-toggle-buttons button {
    padding: 10px 20px;
    margin: 0px 5px 10px;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid #3498db;
    border-radius: 5px;
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  }
  
  .chart-toggle-buttons button:hover {
    background-color: #2980b9;
    border-color: #2980b9;
    color: #fff;
  }

  .chart-box h4 {
    text-align: center;
  }

  .test-access,
  .test-job,
  .future {
    width: 100%;
    max-height: 100px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }

  .star-icon {
    cursor: pointer;
    position: absolute;
    left: 600px;
  }

  .star-icon.yellow {
    color: yellow; /* 노란색 아이콘 스타일 */
    cursor: pointer;
    
  }