.findpwd-container {
  padding: 0 108px;
}

.findpwd-container h2 {
  font-size: 1.5rem;
  text-align: center;
  margin: 30px 0;
}
  
.findpwd-container .findpwdbox {
  width: 80%; /* 넓이를 조정할 수 있습니다. */
  max-width: 800px; /* 최대 넓이를 설정합니다. */
  margin: 0 auto;
  border: 2px solid #f2f2f2; /* 테두리 색을 변경합니다. */
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자를 추가합니다. */
  margin-bottom: 100px;
}

.findpwd-container .findpwdbox > div {
  margin: 30px 0;
}

  
.findpwd-container .checkbox-label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 1rem;
}


  
.findpwd-container .checkbox-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
  
.findpwd-container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 4px;
}
  
.findpwd-container   .checkbox-label input:checked ~ .checkmark {
  background-color: #2196f3;
}
  
.findpwd-container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
  
.findpwd-container .checkbox-label input:checked ~ .checkmark:after {
  display: block;
}
  
.findpwd-container .checkbox-label .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
  
.findpwd-container .findpwd-wrap.show {
  display: block;
}
  
.findpwd-container .findpwd-wrap label {
  display: block;
  margin-bottom: 5px;
}
  
.findpwd-container .findpwd-wrap input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  margin-bottom: 10px;
}
  
.findpwd-container .findpwd-wrap button {
  width: 100%;
  padding: 10px;
  background-color: #64aee0;
  color: #fff;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
  
.findpwd-container .findpwd-wrap button:hover, .findpwd-container .btnpwd .pwdbtn:hover {
  background-color: #166caa;
}

.findpwd-container .btnpwd{
  text-align: center;
  margin-bottom: 30px;
}

.findpwd-container .btnpwd .pwdbtn{
  background-color: #64aee0;
}

/* 모달 백그라운드 */
.modal_background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* 투명한 검은색 배경 */
  z-index: 9998; /* 모달보다 한 단계 낮은 z-index */
}

/* 모달 */
.modal_container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  padding: 20px;
  width: 80%;
  max-width: 800px;
  border: 2px solid #f2f2f2;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color: #fff;
  z-index: 9999; /* 모달을 가장 위에 표시 */
}

.modal_container h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.modal_container label {
  display: block;
  margin-bottom: 10px;
}

.modal_container input {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.modal_container button {
  width: 100%;
  padding: 10px;
  background-color: #64aee0;
  color: #fff;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal_container button:hover {
  background-color: #166caa;
}

.close_button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
