.centered-container {
  text-align: center;
  margin: 50px auto;
  padding: 0px 108px;
}

  
.centered-container h1 {
  margin: 50px 0px;
}
  
.centered-container .menu-container {
    background-color: rgb(242, 242, 242, 0.5);
    text-align: center;
}

.centered-container .menu-container .search-container {
    padding-top: 30px;
    margin-bottom: 20px;
}
  
.centered-container .menu-container .search-container input {
    padding: 18px 40px;
    margin-right: 5px;
    border: 1px solid #ddd;
    width: 750px;
    border-radius: 4px;
}
  
.centered-container .menu-container .search-container button {
    padding: 16px 24px;
    background-color: #64aee0;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
.centered-container .menu-container .dropdown-container {
    margin-bottom: 20px;
    padding-bottom: 50px;
}
  
.centered-container .menu-container .dropdown-container select {
    padding: 20px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 300px;
    font-size: 15px;
}
  
.centered-container .LicenseList ul {
    list-style: none;
    padding: 0;
}
  
.centered-container .LicenseList ul li {
    margin-bottom: 10px;
}
  
.centered-container .LicenseList ul li a {
    display: inline-block;
    width: 100%;
    padding: 15px;  /* 원하는 만큼의 패딩을 추가하여 박스의 크기 조절 */
    color: #3498db;
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
    border-bottom: 2px solid #94a7b4;  /* 밑줄 대신 공간 구분 밑줄 추가 */
    margin-right: 10px;  /* 개별 요소 간의 간격을 주기 위해 */
    box-sizing: border-box;
    text-align: left;
}
  
.centered-container .LicenseList ul li .link-text {
    border-bottom: 2px solid #d5d8db;
}

.centered-container .LicenseList ul li .link-text .company {
    font-size: 12px;
    color: rgb(82, 85, 88);
}

.centered-container .LicenseList ul li a p {
    margin-top: 30px;
    color: black;
    font-size: 15px;
}

.centered-container .LicenseList .page-container {
  display: flex;
  justify-content: center;
}

.centered-container .LicenseList .page-container .pagination {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
}

.centered-container .LicenseList .page-container .pagination .page-item {
  display: inline-block;
  padding: 0px 5px;
  border: none;
}

.centered-container .LicenseList .page-container .pagination .page-item button{
  border: none;
}


.centered-container .LicenseList .page-container .pagination .page-item .page-link {
  text-decoration: none;
  padding: 5px 10px;
  background-color: #fff;
  color: #333;
  cursor: pointer;
}

.centered-container .LicenseList .page-container .pagination .page-item .page-link.active {
  background-color: #007bff;
  color: #fff;
}