  /* Mbti.css */

.Mbti-container {
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    height: 80vh;
  }
  .Mbti-container .Mbti{
    margin-bottom: 50px;
  }
  
  .Mbti-container .card {
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 800px;
  }
  
  .Mbti-container .card-header {
    background-color: #64aee0;
    color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 20px;
  }
  
  .Mbti-container .card-body {
    padding: 20px;
  }
  
  .Mbti-container #question {
    text-align: left;
  }
  
  .Mbti-container #question p {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .Mbti-container .form-check {
    margin-bottom: 15px;
  }
  
  .Mbti-container .form-check-label {
    margin-left: 10px;
  }
  
  .Mbti-container #result {
    text-align: center;
  }
  
  .Mbti-container #result h3 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .Mbti-container #result p {
    font-size: 18px;
    margin-bottom: 30px;
  }
  
  .Mbti-container #result h4 {
    font-size: 20px;
  }
  
  .Mbti-container #result .mbti-btn {
    background-color: #007bff;
  }

  .Mbti-container #result .mbti-btn:hover {
    background-color: #0056b3;
  }
  