.Mbti {
    padding: 0px 108px;
    margin: 100px 0px;
}

.card {
    width: 100%;
    margin: auto;
}

#question p {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

#question .form-check {
    margin-top: 20px;
    text-align: center;
}

#result {
    text-align: center;
}

#result h3 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}

#result p {
    font-size: 20px;
}


.form-check-input:checked + .form-check-label::before {
    border-color: #007bff;
    background-color: #007bff;
  }
  
  .form-check-input:checked + .form-check-label::after {
    border-color: #007bff;
  }

  #result h4 {
    margin-bottom: 20px;
  }