
.memberlist_controller {
    padding: 0 108px;
  }

  .memberlist_controller h1{
    text-align: center;
    padding: 24px 0;
  }
  
  .memberlist_controller table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
  }
  
  .memberlist_controller table th, .memberlist_controller table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  .memberlist_controller .delete{
    cursor: pointer;
    color: #000;
    text-decoration: underline;
  }

  .memberlist_controller .delete:hover{
    color: red;
  }

  .memberlist_controller .edmit{
    color: #000;
    text-decoration: underline;
  }

  .memberlist_controller .edmit:hover{
    color: #64aee0;
  }
  
  .memberlist_controller .paging {
    text-align: center;
  }
  
  .memberlist_controller .paging .ml-btn {
    margin-right: 5px;
    margin-bottom: 80px;
    background-color: #64aee0;
    height: 27px;
    line-height: 0.5;
  }