
.memberlist_controller {
    padding: 0 108px;
  }

  .memberlist_controller h1{
    text-align: center;
  }
  
  .memberlist_controller table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
  }
  
  .memberlist_controller table th, .memberlist_controller table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  .memberlist_controller .delete{
    cursor: pointer;
    color: #000;
    text-decoration: underline;
  }

  .memberlist_controller .delete:hover{
    color: red;
  }

  .memberlist_controller .edmit{
    color: #000;
    text-decoration: underline;
  }

  .memberlist_controller .edmit:hover{
    color: #64aee0;
  }
  
  .memberlist_controller .page-container {
    display: center;
  }
  
  .memberlist_controller .page-container button {
    margin-right: 5px;
  }