#support-container{
  padding: 0 108px;
}

.hr{
  margin-bottom: 30px;
}

#support-container .tab-content {
    padding: 15px;
    background-color: rgb(242, 242, 242, 0.5);
    margin-bottom: 50px;
  }

  #support-container .nav-link:hover {
    background-color: #64aee0 !important; /* 호버 시 배경색 지정 */
  }
  
  /* 사용자 정의 스타일을 !important로 설정하여 우선 순위를 높임 */
  #support-container .nav-link.active {
    background-color: #64aee0 !important; /* 활성화된 탭 배경색 지정 */
    color: #fff !important; /* 활성화된 탭 텍스트 색 지정 */
    border-color: #64aee0 !important; /* 활성화된 탭 테두리 색 지정 */
  }

  #support-container .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #support-container .img-container img {
    max-width: 100%;
    max-height: 100%;
  }

  #support-container span{
    font-weight: bold;
    margin-right: 10px;
  }

  #support-container ul li{
    margin-bottom: 5px; 
  }
  #support-container #down_btn{
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }