.tab-content {
    padding: 15px;
    background-color: #f8f9fa; /* 배경색 지정 */
  }

  .nav-link:hover {
    background-color: #007bff !important; /* 호버 시 배경색 지정 */
  }
  
  /* 사용자 정의 스타일을 !important로 설정하여 우선 순위를 높임 */
  .nav-link.active {
    background-color: #007bff !important; /* 활성화된 탭 배경색 지정 */
    color: #fff !important; /* 활성화된 탭 텍스트 색 지정 */
    border-color: #007bff !important; /* 활성화된 탭 테두리 색 지정 */
  }

  .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .img-container img {
    max-width: 100%;
    max-height: 100%;
  }

  span{
    font-weight: bold;
    margin-right: 10px;
  }