.test-container{
    padding: 0 108px;
}

.test-container h1{
    text-align: center;
    padding: 24px 0;
    margin: 50px 0px;
    background-color: #06aee0;
}

.test-container .test_title p{
    font-size: 18px;
    text-align: center;
    margin: 50px 0px;
}

.test-container .question-container h6 span{
    background-color: #06aee0;
    border-radius: 30px;
    color: #fff;
    padding: 0.2em 0.5em; /* 원하는 패딩 적용 */
}

.test-container ul{
    display: flex;
}

.test-container ul li{
    list-style: none;
}

.test-container ul li button{
    background-color: #fc0;
}

.test-container ul li button.selected {
    background-color: #64aee0; /* 선택된 버튼의 배경색 */
    color: white; /* 선택된 버튼의 텍스트 색상 */
}
  
.test-container .ps{
    background-color: #f2f2f2;
}

.result-view a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #64aee0;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .result-view a:hover {
    background-color: #007bff;
  }

  .result-request {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .result-request button {
    background-color: #64aee0;
    margin-right: 10px;
  }

  .result-request button:hover {
    background-color: #007bff;
  }
